In [37]:
import os
import json
import pandas as pd


dfs = pd.read_json('superheroes.json')
dfs.head()

,squadName,homeTown,formed,secretBase,active,members
0,Super hero squad,Metro City,2016,Super tower,True,"{'name': 'Molecule Man', 'age': 29, 'secretIde..."
1,Super hero squad,Metro City,2016,Super tower,True,"{'name': 'Madame Uppercut', 'age': 39, 'secret..."
2,Super hero squad,Metro City,2016,Super tower,True,"{'name': 'Eternal Flame', 'age': 1000000, 'sec..."

In [65]:
dfy = pd.read_json('test_file.json')
dfy['CSCO']['Valuation Measures']['Market Cap (intraday)']

KeyError: 0

In [61]:
dfz = pd.read_json('Yahoo_Financials.json')
dfz['AAPL']

0     {'Valuation Measures': {'Market Cap (intraday)...
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
5                                                   NaN
6                                                   NaN
7                                                   NaN
8                                                   NaN
9                                                   NaN
10                                                  NaN
11                                                  NaN
12                                                  NaN
13                                                  NaN
14                                                  NaN
Name: AAPL, dtype: object

In [109]:
import json 
x = json.load(open('Yahoo_Financials.json'))


for idx, values in enumerate(x):
    for company_name in values:
        print("P//E:{}, Company: {}".format(values[company_name]['Valuation Measures']['Trailing P/E'], company_name))

P//E:36.07, Company: AAPL
P//E:43.88, Company: ADBE
P//E:80.62, Company: AMZN
P//E:62.88, Company: ASML
P//E:23.5, Company: CMCSA
P//E:21.79, Company: CSCO
P//E:30.97, Company: FB
P//E:39.0, Company: GOOG
P//E:38.74, Company: GOOGL
P//E:13.82, Company: INTC
P//E:38.15, Company: MSFT
P//E:91.33, Company: NFLX
P//E:83.48, Company: NVDA
P//E:75.36, Company: PYPL
P//E:1057.84, Company: TSLA

In [79]:
x[0]['AAPL']['Valuation Measures']['Trailing P/E']

36.07

In [97]:
y = x[0]

for name in y:
    print('Name: {}'.format(repr(y[name]['Valuation Measures']['Trailing P/E'])))

Name: 36.07